body {
    font-family: Arial, sans-serif;
}

.todo-app.light {
    background-color: #f0f0f0;
    color: #333;
}

.todo-app.dark {
    background-color: #333;
    color: #f0f0f0;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button {
    cursor: pointer;
}

.button-minus {
    background-color: red;
    color: white;
    margin-left: auto;
}

.input-task {
    width: 80%;
}

#todoAppName {
    text-align: center;
}

.theme-toggle {
    display: block;
    margin: 20px auto;
}
